<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="corner-image">
        <img src="/assets/images/tecsup.png" alt="Logo">
    </div>
    <div class="wrapper">
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <h1>Bienvenido a InfoPilot!</h1>
            <div class="input-box">
                <input type="email" [(ngModel)]="email" name="email" class="form-control" id="course" placeholder="Correo Electronico" required email>
                <i class='bx bxs-user'></i>
                <div *ngIf="loginForm.submitted && loginForm.controls['email']?.invalid" class="error-message">
                    <small *ngIf="loginForm.controls['email']?.errors?.['required']">El correo electrónico es obligatorio.</small>
                    <small *ngIf="loginForm.controls['email']?.errors?.['email']">Formato de correo electrónico no válido.</small>
                </div>
            </div>
            <div class="input-box">
                <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" class="form-control" id="fee" placeholder="Contraseña" required minlength="6">
                <i class='bx' [class.bxs-lock-alt]="!showPassword" [class.bxs-lock-open-alt]="showPassword" (click)="togglePasswordVisibility()"></i>
                <div *ngIf="loginForm.submitted && loginForm.controls['password']?.invalid" class="error-message">
                    <small *ngIf="loginForm.controls['password']?.errors?.['required']">La contraseña es obligatoria.</small>
                    <small *ngIf="loginForm.controls['password']?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
                </div>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Recuerdame</label>
                <a href="#">Olvido la contraseña?</a>
            </div>

            <button type="submit" class="btn">Ingresar</button>

            <button type="button" class="google-btn" (click)="googlelogin()">
                <i class='bx bxl-google'></i>
                <span>Ingresar con Google</span>
            </button>

            <div class="register-link">
                <p>No tienes una cuenta? <a routerLink="register">Registrate</a></p>
            </div>
        </form>
    </div>
</body>
</html>

