<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="corner-image">
        <img src="/assets/images/tecsup.png" alt="Logo">
    </div>
    <div class="wrapper">
        <form [formGroup]="registerForm" (ngSubmit)="save()">
            <h1>Registrarse en InfoPilot</h1>
            <div class="input-box">
                <input type="text" formControlName="firstname" class="form-control" id="stname" placeholder="Nombre">
                <i class='bx bxs-user'></i>
                <div *ngIf="submitted && registerForm.get('firstname')?.invalid" class="error-message">
                    <small *ngIf="registerForm.get('firstname')?.errors?.['required']">El nombre es obligatorio.</small>
                </div>
            </div>
            <div class="input-box">
                <input type="text" formControlName="lastname" class="form-control" id="stname" placeholder="Apellido">
                <i class='bx bxs-user'></i>
                <div *ngIf="submitted && registerForm.get('lastname')?.invalid" class="error-message">
                    <small *ngIf="registerForm.get('lastname')?.errors?.['required']">El apellido es obligatorio.</small>
                </div>
            </div>
            <div class="input-box">
                <input type="email" formControlName="email" class="form-control" id="course" placeholder="Correo Electronico">
                <i class='bx bx-mail-send'></i>
                <div *ngIf="submitted && registerForm.get('email')?.invalid" class="error-message">
                    <small *ngIf="registerForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</small>
                    <small *ngIf="registerForm.get('email')?.errors?.['email']">Formato de correo electrónico no válido.</small>
                </div>
            </div>
            <div class="input-box">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" id="fee" placeholder="Contraseña">
                <i class='bx' [class.bxs-lock-alt]="!showPassword" [class.bxs-lock-open-alt]="showPassword" (click)="togglePasswordVisibility()"></i>
                <div *ngIf="submitted && registerForm.get('password')?.invalid" class="error-message">
                    <small *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
                    <small *ngIf="registerForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
                </div>
            </div>
            <button type="submit" class="btn">Registrarse</button>
            <div class="register-link">
                <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
            </div>
        </form>
    </div>
</body>
</html>
